 <!--============= TOP-BAR ===========-->
 <div id="top-bar" class="tb-text-white">
        <div class="container">
            <div class="row">          
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div id="info">
                        <ul class="list-unstyled list-inline">
                            <li><span><i class="fa fa-map-marker"></i></span>Antonio Varas 666, Providencia, RM</li>
                            <li><span><i class="fa fa-phone"></i></span>+56978346087</li>
                        </ul>
                    </div><!-- end info -->
                </div><!-- end columns -->
                
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div id="links">
                        <ul class="list-unstyled list-inline" *ngIf="desconectado; else conectado">
                            <li><a [routerLink]="['/login']"><span><i class="fa fa-lock"></i></span>Iniciar Sesión</a></li>
                            <li><a [routerLink]="['/registro']"><span><i class="fa fa-plus"></i></span>Registrarse</a></li>
                        </ul>
                        <ng-template #conectado>
                         <ul class="list-unstyled list-inline">
                            <li style="color:white;"><span><i class="fas fa-user"></i></span> {{root?.username}}</li>
                            <li><a role="button" (click)="logout()"><span><i class="fas fa-sign-out-alt"></i></span> Salir</a></li>
                          </ul>  
                        </ng-template>
                    </div><!-- end links -->
                </div><!-- end columns -->				
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end top-bar -->
    <nav class="navbar navbar-default main-navbar navbar-custom navbar-white" id="mynavbar-1">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="menu-button" >
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <div class="header-search hidden-lg">
                </div>
                <a [routerLink]="['/home']" class="navbar-brand"><span><i class="fa fa-building"></i>TURISMO</span>REAL</a>
            </div><!-- end navbar-header -->
            
            <div class="collapse navbar-collapse" id="myNavbar1">
                <ul class="nav navbar-nav navbar-left" >
                    <li><a role="button" (click)="reservas()" >Mis Reservas<span></span></a>		
                    </li>
                </ul>
            </div><!-- end navbar collapse -->
        </div><!-- end container -->
    </nav><!-- end navbar -->
    <div class="navbar-collapse collapse ocultar">
        <ul class="nav navbar-nav">
          <li><a [routerLink]="['/home']"><i class="fas fa-home"></i> Home</a></li>
          <li><a role="button"(click)="reservas()"><i class="fas fa-clipboard-check"></i> Mis Reservas</a></li>
          <li *ngIf="!desconectado"><a role="button" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Salir</a></li>
        </ul>
    </div>