<app-header></app-header>
        
        <!--================== PAGE-COVER ================-->
        <section class="page-cover" id="cover-hotel-booking">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    	<h1 class="page-title">Pago de Arriendo</h1>
                        <ul class="breadcrumb">
                            <li><a [routerLink]="['/home']">Inicio</a></li>
                            <li class="active"> Pago de Arriendo</li>
                        </ul>
                    </div><!-- end columns -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end page-cover -->
        
        
        <!--===== INNERPAGE-WRAPPER ====-->
        <section class="innerpage-wrapper">
        	<div id="flight-booking" class="innerpage-section-padding">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8 content-side">
                        	<form class="lg-booking-form" [formGroup]="form">
                                <div class="lg-booking-form-heading">
                                	<span>1</span>
                                	<h3>Información de Pago</h3>
                                </div><!-- end lg-bform-heading -->
                                
                                <div class="personal-info">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="tipoTarjeta">Tipo de Tarjeta</label>
                                                <select formControlName="tipoTarjeta"  class="form-control">
                                                    <option *ngFor="let tarjeta of tipoTarjeta" [value]="tarjeta">
                                                         {{tarjeta}}
                                                    </option>
                                                </select>
                                                <span><i class="fa fa-angle-down"></i></span>
                                            </div>
                                        </div><!-- end columns -->
                                        
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Numero de Tarjeta</label>
                                                <input type="number" formControlName="numeroTarjeta" class="form-control" required="">
                                            </div>
                                        </div><!-- end columns -->
                                    </div><!-- end row -->
                                    
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>Nombre del titular de la tarjeta</label>
                                                <input type="text" formControlName="nombreTitular" class="form-control" required="">
                                            </div>
                                        </div><!-- end columns -->
                                        
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label>CVC</label>
                                                <input type="number" formControlName="cvc" class="form-control" required="">
                                            </div>
                                        </div><!-- end columns -->
                                    </div><!-- end row -->
                                    
                                    <div class="row">
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="form-group">
                                                <label for="mes">Mes de Vencimiento</label>
                                                <select formControlName="mes" class="form-control">
                                                    <option *ngFor="let mes of meses" [value]="mes">
                                                        {{mes}}
                                                      </option>
                                                </select>
                                                <span><i class="fa fa-angle-down"></i></span>
                                            </div>
                                        </div><!-- end columns -->
                                        
                                        <div class="col-xs-6 col-sm-3">
                                            <div class="form-group">
                                                <label for="anno">Año de Vencimiento</label>
                                                <select  formControlName="anno" class="form-control">
                                                   <option *ngFor="let anno of annos" [value]="anno">
                                                        {{anno}}
                                                  </option>
                                                </select>
                                                <span><i class="fa fa-angle-down"></i></span>
                                            </div>
                                   
                                    
                                    </div>
                                </div>
                                </div>  
                                            
                                
                                  
                                <button type="submit" class="btn btn-orange" (click)="onSubmit()" [disabled]="form.invalid">Confirmar Pago</button>
                            </form>
                            
                        </div><!-- end columns -->
						
                        
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4 side-bar right-side-bar">
                        	<div class="row">
                            
                                <div class="col-xs-12 col-sm-6 col-md-12">
                                    <div class="side-bar-block detail-block style2 text-center">
                                        <div class="detail-img text-center">
                                        	<img src="../../../assets/imagenes/departamentos/departamento-en-Chile.jpg" class="img-responsive" alt="detail-img">
                                            <div class="detail-title">
                                                <h4 style="color:rgb(255, 255, 255)">{{departamento?.direccion}}</h4>
                                            	<p>{{departamento?.comuna.nombre}}</p>
                                            </div><!-- end detail-title -->
                                            
                                            <span class="detail-price"><h4>{{departamento?.valorNoche}}<span>/ Noche</span></h4></span>
                                        </div><!-- end detail-img -->
                                        
                                        <div class="table-responsive">
                                            <table class="table">
                                                <tbody>
                                                	<tr>
                                                    	<td>Estrellas</td>
                                                        <td>
                                                            <div class="rating">
                                                                <span><i class="fa fa-star"></i></span>
                                                                <span><i class="fa fa-star"></i></span>
                                                                <span><i class="fa fa-star"></i></span>
                                                                <span><i class="fa fa-star"></i></span>
                                                                <span><i class="fa fa-star-o"></i></span>
                                                            </div><!-- end rating -->
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Llegada</td>
                                                        <td>{{reserva?.fechaInicio}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Salida</td>
                                                        <td>{{reserva?.fechaTermino}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Dormitorios</td>
                                                        <td>{{departamento?.dormitorios}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Personas</td>
                                                        <td>{{reserva?.personas}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Precio Total</td>
                                                        <td>$ {{reserva?.total}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div><!-- end table-responsive -->
                                    </div><!-- end side-bar-block -->
                                </div><!-- end columns -->
                                
                                <div class="col-xs-12 col-sm-6 col-md-12">    
                                    <div class="side-bar-block support-block">
                                        <h3>¿Necesitas Ayuda?</h3>
                                        <p>No dudes en contactarnos.</p>
                                        <div class="support-contact">
                                            <span><i class="fa fa-phone"></i></span>
                                            <p>+56978346087</p>
                                        </div><!-- end support-contact -->
                                    </div><!-- end side-bar-block -->
                                </div><!-- end columns -->
                                
                            </div><!-- end row -->
                        
                        </div><!-- end columns -->
                        
                    </div><!-- end row -->
                </div><!-- end container -->         
            </div><!-- end flight-booking -->
        </section><!-- end innerpage-wrapper -->
        <app-footer></app-footer>