
<!--===== FULL-PAGE-FORM ====-->
<section>
    <div id="full-page-form">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    
                    <div class="full-page-title">
                        <h3 class="company-name"><span><i class="fa fa-building"></i>Turismo</span>Real</h3>
                        <p>Empresa conocida a nivel nacional con multiples departamentos a lo largo de todo Chile.</p>
                    </div><!-- end full-page-title -->
                    
                    <div class="custom-form custom-form-fields" >
                        <h3>Login</h3>
                        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <mat-form-field style ="display: inline">
                                    <input matInput placeholder="Nombre de Usuario" [formControl]="username"
                                        [errorStateMatcher]="matcher">
                                    <mat-error *ngIf="username.hasError('required')">
                                        El nombre de usuario es <strong>Requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="form-group">
                                <mat-form-field style ="display: inline">
                                    <input matInput placeholder="Contraseña" [formControl]="password"
                                        [type]="hide ? 'password' : 'text'">
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                        [attr.aria-pressed]="hide" type="button">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            
                                <button type="submit" [disabled]="loginForm.invalid || !loading"
                                    class="btn btn-orange btn-block">Iniciar Sesión</button>
                        </form>
                        <div class="other-links">
                            <p class="link-line" >¿Nuevo aqui? <a [routerLink]="['/registro']">Registrarse</a></p>
                        </div><!-- end other-links -->
                    </div><!-- end custom-form -->
                    
                    <p class="full-page-copyright">© 2019 TurismoReal. Todos los derechos reservados.</p>
                </div><!-- end columns -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end full-page-form -->
</section>

