<app-header></app-header>
 
 
 <!--================== PAGE-COVER ===============-->
 <section class="page-cover" id="cover-hotel-detail">
     <div class="container">
         <div class="row">
             <div class="col-sm-12">
                 <h1 class="page-title">Información del Departamento</h1>
                 <ul class="breadcrumb">
                     <li><a [routerLink]="['/home']">Inicio</a></li>
                     <li class="active"> Detalle</li>
                 </ul>
             </div><!-- end columns -->
         </div><!-- end row -->
     </div><!-- end container -->
 </section><!-- end page-cover -->
 
 <!--===== INNERPAGE-WRAPPER ====-->
 <section class="innerpage-wrapper">
     <div id="hotel-details" class="innerpage-section-padding">
         <div class="container">
             <div class="row">        	
                 
                 <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 content-side">
                     
                     <div class="detail-slider">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                      <li data-target="#myCarousel" data-slide-to="1"></li>
                                      <li data-target="#myCarousel" data-slide-to="2"></li>
                                    </ol>
                                  
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                      <div class="item active">
                                        <img src="../../../assets/imagenes/departamentos/1.jpg" alt="Los Angeles">
                                      </div>
                                  
                                      <div class="item">
                                        <img src="../../../assets/imagenes/departamentos/2.jpg" alt="Chicago">
                                      </div>
                                  
                                      <div class="item">
                                        <img src="../../../assets/imagenes/departamentos/3.jpg" alt="New York">
                                      </div>
                                    </div>
                                  
                                    <!-- Left and right controls -->
                                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                      <span class="glyphicon glyphicon-chevron-left"></span>
                                      <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                      <span class="glyphicon glyphicon-chevron-right"></span>
                                      <span class="sr-only">Next</span>
                                    </a>
                                  </div>
                     </div>  <!-- end detail-slider -->

                     <div class="detail-tabs">
                         
                         
                         <div class="tab-content">

                             <div id="hotel-overview" class="tab-pane in active">
                                 <div class="row">
                                     <div class="col-sm-4 col-md-4 tab-img">
                                         <img src="../../../assets/imagenes/detalle/descripcion.jpg" class="img-responsive" alt="flight-detail-img">
                                     </div><!-- end columns -->
                                     
                                     <div class="col-sm-8 col-md-8 tab-text">
                                         <h3>Descripción</h3>
                                         <p>{{departamento?.caracteristicas}}</p>
                                         <h4>Equipamientos</h4>
                                         <tr *ngFor="let equipo of departamento?.equipamientos">
                                          <td><i class="fas fa-check"></i> {{equipo?.nombre}}</td>
                                         </tr> 
                                     </div><!-- end columns -->
                                 </div><!-- end row -->
                             </div><!-- end hotel-overview -->
                         </div><!-- end tab-content -->
                     </div><!-- end detail-tabs -->
                     
                     
                     
                     
                   
                 </div><!-- end columns -->
                                         
                 <div class="col-xs-12 col-sm-12 col-md-3 side-bar right-side-bar">
                     
                     <div class="side-bar-block booking-form-block">
                         <h2 class="selected-price">${{departamento?.valorNoche}} <span>Noche</span></h2>
                     
                         <div class="booking-form">
                             <h3>{{departamento?.direccion}}</h3>
                             <p>{{departamento?.comuna.nombre}}</p>
                             
                             <form [formGroup]="reservaForm" >
                                    <mat-form-field style="display: inline">
                                     <input matInput [min]="minDate" [matDatepicker]="fechaInicio" placeholder="Fecha Inicio"
                                      (dateChange)="fechaInicioEvent($event)" formControlname="fechaInicio">
                                        <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                                        <mat-datepicker #fechaInicio></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field style="display: inline">
                                      <input matInput [min]="fechaI" [matDatepicker]="fechaTermino" placeholder="Fecha Termino"
                                       (dateChange)="fechaTerminoEvent($event)" formControlname="fechaTermino" [disabled]="disable">
                                      <mat-datepicker-toggle matSuffix [for]="fechaTermino"></mat-datepicker-toggle>
                                      <mat-datepicker #fechaTermino></mat-datepicker>
                                    </mat-form-field>
                                    <mat-form-field style ="display: inline">
                                            <mat-select placeholder="Personas" [formControl]="personas" (selectionChange)="select($event)" required>
                                              <mat-option [value]="1">1</mat-option>
                                              <mat-option [value]="2">2</mat-option>
                                              <mat-option [value]="3">3</mat-option>
                                              <mat-option [value]="4">4</mat-option>
                                              <mat-option [value]="5">5</mat-option>
                                            </mat-select>
                                    </mat-form-field>
                                    <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                          <mat-panel-title>
                                            Traslado
                                          </mat-panel-title>
                                          <mat-panel-description>
                                          </mat-panel-description>
                                        </mat-expansion-panel-header>
                                    <form [formGroup]="trasladoForm" >
                                        <mat-form-field style="display: inline">
                                            <input matInput [min]="minDate" [matDatepicker]="fecha" placeholder="Fecha Traslado" (dateChange)="fechaTrasladoEvent($event)" 
                                              formControlname="fecha" required>
                                               <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
                                               <mat-datepicker #fecha></mat-datepicker>
                                        </mat-form-field>
                                    
                                        <mat-form-field style="display: inline">
                                          <input matInput placeholder="Dirección de Retiro" [formControl]="ubicacion" [errorStateMatcher]="matcher" required>
                                          <mat-error *ngIf="ubicacion.hasError('required')">
                                              La dirección es <strong>Requerido</strong>
                                          </mat-error>
                                        </mat-form-field>
                                        <mat-form-field style ="display: inline" >
                                            <mat-label>Empresas</mat-label>
                                            <mat-select  (selectionChange)="onChangeEmpresa($event)" required>
                                              <mat-option *ngFor="let empresa of empresas" [value]="empresa?.id">
                                                {{empresa?.nombre}} 
                                              </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-form-field style ="display: inline" >
                                            <mat-label>Choferes</mat-label>
                                            <mat-select   [disabled]="disableSelect" formControlname="chofer" (selectionChange)="onChangeChofer($event)" required>
                                              <mat-option *ngFor="let chofer of choferes" [value]="chofer?.id" >
                                                {{chofer?.nombre}} 
                                              </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <mat-slide-toggle (change)="onChange($event)"
                                           [checked]="isChecked">Confirmar</mat-slide-toggle>
                                    </form>
                                    </mat-expansion-panel>
                                      <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                          <mat-panel-title>
                                            Tours
                                          </mat-panel-title>
                                          <mat-panel-description>
                                          </mat-panel-description>
                                        </mat-expansion-panel-header>
                                    
                                        <mat-form-field style ="display: inline" >
                                            <mat-label>Tours</mat-label>
                                            <mat-select (selectionChange)="onChangeTourSelect($event)">
                                              <mat-option *ngFor="let tour of tours" [value]="tour">
                                                {{tour?.nombre}}  ${{tour?.valor_persona}}
                                              </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div>
                                          <p>Descripción: {{tour?.descripcion}}</p>
                                          <p>Valor por Persona: $ {{tour?.valor_persona}} </p>
                                        </div>
                                        <mat-slide-toggle (change)="onChangeTour($event)"
                                           [checked]="isChecked2">Confirmar</mat-slide-toggle>
                                      </mat-expansion-panel>
                                </mat-accordion>

                                 <div class="form-group" style="margin-bottom: 20px;margin-top:10px">
                                    <h4>TOTAL: $ {{total}}</h4>
                                 </div>
                                 
                                 <button class="btn btn-block btn-orange" [disabled]="!reservaForm.valid" (click)="onSubmit()">Realizar Reserva</button>
                             </form>

                         </div><!-- end booking-form -->
                     </div><!-- end side-bar-block -->
                     
                     <div class="row">
                         <div class="col-xs-12 col-sm-6 col-md-12">    
                            <div class="side-bar-block support-block">
                                <h3>¿Necesitas Ayuda?</h3>
                                <p>No dudes en contactarnos.</p>
                                <div class="support-contact">
                                    <span><i class="fa fa-phone"></i></span>
                                    <p>+56978346087</p>
                                </div><!-- end support-contact -->
                            </div><!-- end side-bar-block -->
                        </div><!-- end columns -->
                         
                     </div><!-- end row -->
                 </div><!-- end columns -->  
                 
             </div><!-- end row -->
         </div><!-- end container -->
     </div><!-- end hotel-details -->
 </section><!-- end innerpage-wrapper -->
 <app-features></app-features>
 
 
 <app-footer></app-footer>