<app-header></app-header>>
        
        <!--=================== PAGE-COVER =================-->
        <section class="page-cover" id="cover-hotel-grid-list">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    	<h1 class="page-title">Departamentos</h1>
                        <ul class="breadcrumb">
                            <li><a [routerLink]="['/home']">Inicio</a></li>
                            <li class="active"> Departamentos</li>
                        </ul>
                    </div><!-- end columns -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end page-cover -->
        
        
        <!--===== INNERPAGE-WRAPPER ====-->
        <section class="innerpage-wrapper">
        	<div id="hotel-grid" class="innerpage-section-padding">
                <div class="container">
                    <div class="row">        	
                        
                        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 content-side">
                            <div class="row">
                            
                                <div class="col-sm-6 col-md-6 col-lg-4" *ngFor="let depa of departamentos">
                                    <div class="grid-block main-block h-grid-block">
                                    	<div class="main-img h-grid-img">
                                        	<a >
                                    			<img src="../../../assets/imagenes/departamentos/depa.jpg" class="img-responsive" alt="hotel-img">
                                            </a>
                                            <div class="main-mask">
                                                <ul class="list-unstyled list-inline offer-price-1">
                                                    <li class="price">${{depa?.valorNoche}}<span class="divider">|</span><span class="pkg">Valor / Noche</span></li>
                                                </ul>
                                            </div><!-- end main-mask -->
                                    	</div><!-- end h-grid-img -->
                                        
                                         <div class="block-info h-grid-info">
                                         	<div class="rating">
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star orange"></i></span>
                                                <span><i class="fa fa-star lightgrey"></i></span>
                                            </div><!-- end rating -->
                                            
                                         	<h3 class="block-title"><a role="button" (click)="detalle(depa?.id)">{{depa?.direccion}}</a></h3>
                                            <p class="block-minor">De: {{depa?.comuna.nombre}}</p>
                                            <p>{{depa?.caracteristicas}} </p>
                                            <div class="grid-btn">
                                            	<a (click)="detalle(depa?.id)" class="btn btn-orange btn-block btn-lg">Ver Detalles</a>
                                            </div><!-- end grid-btn -->
                                         </div><!-- end h-grid-info -->
                                    </div><!-- end h-grid-block -->
                                </div><!-- end columns -->
                                
                               
                                
                            </div><!-- end row -->
                            
                           
                        </div><!-- end columns -->
                                                
                        <div class="col-xs-12 col-sm-12 col-md-3 side-bar right-side-bar">
                                        
                          
                            
                            <div class="row">
                                
                                <div class="col-xs-12 col-sm-6 col-md-12">    
                                    <div class="side-bar-block support-block">
                                        <h3>¿Necesitas Ayuda?</h3>
                                        <p>No dudes en contactarnos.</p>
                                        <div class="support-contact">
                                            <span><i class="fa fa-phone"></i></span>
                                            <p>+56978346087</p>
                                        </div><!-- end support-contact -->
                                    </div><!-- end side-bar-block -->
                                </div><!-- end columns -->
                                
                            </div><!-- end row -->
                        </div><!-- end columns -->  
                        
                    </div><!-- end row -->
            	</div><!-- end container -->
            </div><!-- end hotel-grid -->
        </section><!-- end innerpage-wrapper -->
        
        
<app-features></app-features>
        
        
    <app-footer></app-footer>