<!--======================= FOOTER =======================-->
<section id="footer" class="ftr-heading-w ftr-heading-mgn-2">
            <div id="footer-top" class="banner-padding ftr-top-grey ftr-text-grey">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 footer-widget ftr-about ftr-our-company">
                            <h3 class="footer-heading">Nuestra Compañia</h3>
                            <p> Turismo Real, es una empresa familiar que se dedica al arriendo de departamentos propiedad de la empresa, y otros servicios en zonas turísticas del país. Tiene 10 años en el mercado y de a poco se ha hecho conocida por la calidad de sus departamentos, ubicación y trato gentil hacia los clientes.</p>
                        </div><!-- end columns -->
                        
                        <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5 footer-widget ftr-contact">
                            <h3 class="footer-heading">Contáctanos</h3>
                            <ul class="list-unstyled">
                            	<li><span><i class="fa fa-map-marker"></i></span>Antonio Varas 666, Providencia, Región Metropolitana</li>
                            	<li><span><i class="fa fa-phone"></i></span>+56978346087</li>
                                <li><span><i class="fa fa-envelope"></i></span>info@turismoreal.com</li>
                            </ul>
                        </div><!-- end columns -->
                        
                        
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end footer-top -->

            <div id="footer-bottom" class="ftr-bot-black">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="copyright">
                            <p>© 2019 <a href="#">TurismoReal</a>. Todos los derechos reservados.</p>
                        </div><!-- end columns -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end footer-bottom -->
            
        </section>
<!-- end footer -->