<app-header></app-header>
        
        <!--=================== PAGE-COVER =================-->
        <section class="page-cover" id="cover-hotel-grid-list">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                    	<h1 class="page-title">Reservas</h1>
                        <ul class="breadcrumb">
                            <li><a [routerLink]="['/home']">Inicio</a></li>
                            <li class="active"> Reservas</li>
                        </ul>
                    </div><!-- end columns -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section><!-- end page-cover -->
        
        
        <!--===== INNERPAGE-WRAPPER ====-->
        <section class="innerpage-wrapper">
        	<div id="hotel-grid" class="innerpage-section-padding">
                <div class="container">
                    <div class="row">        	
                        
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 content-side">
                            <div class="row">
                            
                                <div class="mat-elevation-z8">
                                    <table mat-table [dataSource]="dataSource" style="width: 100%;">
                                  
                                      <ng-container matColumnDef="fechaInicio">
                                        <th mat-header-cell *matHeaderCellDef> Fecha Inicio </th>
                                        <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
                                      </ng-container>
                                  
                                      <ng-container matColumnDef="fechaTermino">
                                        <th mat-header-cell *matHeaderCellDef> Fecha Termino </th>
                                        <td mat-cell *matCellDef="let element"> {{element.fechaTermino}} </td>
                                      </ng-container>

                                      <ng-container matColumnDef="personas">
                                        <th mat-header-cell *matHeaderCellDef> Personas </th>
                                        <td mat-cell *matCellDef="let element"> {{element.personas}} </td>
                                      </ng-container>

                                      <ng-container matColumnDef="total">
                                        <th mat-header-cell *matHeaderCellDef> Total </th>
                                        <td mat-cell *matCellDef="let element">$ {{element.total}} </td>
                                      </ng-container>

                                      <ng-container matColumnDef="pagar">
                                        <th mat-header-cell  *matHeaderCellDef > Pagar </th>
                                        <td mat-cell *matCellDef="let element" >
                                             <button (click)="pagar(element)" mat-button >Pagar</button>
                                      </td>
                                      </ng-container>
                                  
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                  
                                    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                  </div> 
                                
                               
                                
                            </div><!-- end row -->
                            
                            
                        </div><!-- end columns -->
                                                
                        
                        
                    </div><!-- end row -->
            	</div><!-- end container -->
            </div><!-- end hotel-grid -->
        </section><!-- end innerpage-wrapper -->
        
        
<app-features></app-features>
        
        
    <app-footer></app-footer>
