<app-header></app-header>


 <!--========================= FLEX SLIDER =====================-->
 <section class="flexslider-container" id="flexslider-container-2">
          
    <div class="flexslider slider" id="slider-2">
        
    <div class="flex-viewport" style="overflow: hidden; position: relative;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
        
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="../assets/imagenes/home/coquimbo.jpg" alt="Coquimbo" style="width:100%;" class="img-responsive">
                <div class="carousel-caption">
                    <h3>Coquimbo</h3>
                  </div>
              </div>
              <div class="item">
                <img src="../assets/imagenes/home/santiago.jpg" alt="Santiago" style="width:100%;" class="img-responsive">
                <div class="carousel-caption">
                    <h3>Santiago</h3>
                  </div>
              </div>
            
              <div class="item">
                <img src="../assets/imagenes/home/valparaiso.jpg" alt="Valparaiso" style="width:100%;" class="img-responsive">
                <div class="carousel-caption">
                    <h3>Valparaiso</h3>
                  </div>
              </div>
              <div class="item">
                <img src="../assets/imagenes/home/la_serena.jpg" alt="La Serena" style="width:100%;" class="img-responsive">
                <div class="carousel-caption">
                    <h3>La Serena</h3>
                  </div>
              </div>
            </div>
        </div>    
     </div>
    </div>
    <div class="search-tabs" id="search-tabs-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                
                    <ul class="nav nav-tabs">  
                        <li class="active"><a href="#hotels" data-toggle="tab" aria-expanded="true"><span><i class="fa fa-building"></i></span><span class="st-text">Hoteles</span></a></li>
                    </ul>

                    <div class="tab-content">       
                        <div id="hotels" class="tab-pane active">
                            <form (ngSubmit)="buscar()">
                                <div class="row">
                                       <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <mat-form-field style ="display: inline" >
                                                        <mat-label>Regiones</mat-label>
                                                        <mat-select [(value)]="idRegion" (selectionChange)="onChangeRegion($event)" >
                                                          <mat-option *ngFor="let region of regiones" [value]="region?.id">
                                                            {{region?.nombre}} 
                                                          </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>  
                                            </div><!-- end columns -->
                                            
                                            <div class="col-xs-12 col-sm-12 col-md-6">
                                              <div class="form-group">
                                               <mat-form-field style ="display: inline">
                                                    <mat-label>Provincias</mat-label>
                                                    <mat-select [(value)]="idProvincia" (selectionChange)="onChangeProvincia($event)" [disabled]="disableSelect">
                                                      <mat-option *ngFor="let provincia of provincias" [value]="provincia?.id">
                                                        {{provincia?.nombre}}
                                                      </mat-option>
                                                    </mat-select>
                                                  </mat-form-field>
                                             </div>   
                                            </div><!-- end columns -->

                                        </div><!-- end row -->								
                                    </div><!-- end columns -->
                                    
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                                        <div class="row">
                                        
                                            <div class="col-xs-12 col-sm-12 col-md-6">
                                                <div class="form-group">
                                                    <mat-form-field style ="display: inline">
                                                        <mat-label>Comunas</mat-label>
                                                        <mat-select [(value)]="idComuna" (selectionChange)="onChangeComuna($event)" [disabled]="disableSelectComuna">
                                                          <mat-option *ngFor="let comuna of comunas" [value]="comuna?.id">
                                                            {{comuna?.nombre}}
                                                          </mat-option>
                                                        </mat-select>
                                                      </mat-form-field>
                                                </div>
                                            </div><!-- end columns -->
                                            
                                            
                                        </div><!-- end row -->
                                    </div><!-- end columns -->
                                    
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-2 search-btn">
                                        <button class="btn btn-orange" click="buscar()">Buscar</button>
                                    </div><!-- end columns -->
                                    
                                </div><!-- end row -->
                            </form>
                        </div><!-- end hotels -->  
                    </div><!-- end tab-content -->
                    
                </div><!-- end columns -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end search-tabs -->
    
</section>
 <!-- end flexslider-container -->
 
 
 <app-features></app-features>
 
 
 <!--=============== TESTIMONIALS ===============-->
 <section id="testimonials" class="section-padding">
     <div class="container">
         <div class="row">
             <div class="col-sm-12">
                 <div class="page-heading white-heading">
                     <h2>Testimonios</h2>
                     <hr class="heading-line">
                 </div><!-- end page-heading -->

                 <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                     <div class="carousel-inner text-center">
                     
                         <div class="item">
                             <blockquote>El desierto florido de Atacama es un espectáculo maravilloso que ocurre una vez al año, junto a su gente que es muy amable. Fue muy grata mi estadía en los departamentos de TurismoReal en 2017.</blockquote>
                             <div class="rating">
                                 <span><i class="fa fa-star orange"></i></span>
                                 <span><i class="fa fa-star orange"></i></span>
                                 <span><i class="fa fa-star orange"></i></span>
                                 <span><i class="fa fa-star orange"></i></span>
                                 <span><i class="fa fa-star lightgrey"></i></span>
                             </div><!-- end rating -->
                             
                             <small>Jackie Chan</small>
                         </div><!-- end item -->
                         
                         <div class="item active">
                             <blockquote>Los departamentos son muy variados desde los caros a los económicos y la atención de la gente no cambia entre ellos. El sur de Chile es uno de los lugares que mejor aprecio, pude conocer Puerto Montt en 2019.</blockquote>
                             <div class="rating">
                                 <span><i class="fa fa-star orange"></i></span>
                                 <span><i class="fa fa-star orange"></i></span>
                                 <span><i class="fa fa-star orange"></i></span>
                                 <span><i class="fa fa-star orange"></i></span>
                                 <span><i class="fa fa-star lightgrey"></i></span>
                             </div><!-- end rating -->
                                     
                             <small>Keanu Reeves</small>
                         </div><!-- end item -->
                         
                         <div class="item">
                             <blockquote>Siempre sus departamentos están relucientes, la atención de su gente es de primera y tienen camas amplias. Las ciudades de Chile son muy bellas, pude estar en Valparaíso y Viña del Mar el 2018.</blockquote>
                             <div class="rating">
                                 <span><i class="fa fa-star orange"></i></span>
                                 <span><i class="fa fa-star orange"></i></span>
                                 <span><i class="fa fa-star orange"></i></span>
                                 <span><i class="fa fa-star orange"></i></span>
                                 <span><i class="fa fa-star lightgrey"></i></span>
                             </div><!-- end rating -->
                             
                             <small>Dwayne Johnson</small>
                         </div><!-- end item -->
                         
                     </div><!-- end carousel-inner -->
                     
                     <ol class="carousel-indicators" >
                         <li data-target="#quote-carousel" data-slide-to="0" class=""><img src="../../../assets/imagenes/home/client-1.jpg" class="img-responsive" alt="client-img">
                         </li>
                         <li data-target="#quote-carousel" data-slide-to="1" class="active"><img src="../../../assets/imagenes/home/client-2.jpg" class="img-responsive" alt="client-img">
                         </li>
                         <li data-target="#quote-carousel" data-slide-to="2"><img src="../../../assets/imagenes/home/client-3.jpg" class="img-responsive" alt="client-img">
                         </li>
                     </ol>
 
                 </div><!-- end quote-carousel -->
             </div><!-- end columns -->
         </div><!-- end row -->
     </div><!-- end container -->
 </section><!-- end testimonials -->
 
 
<!--============== HIGHLIGHTS =============-->
<section id="highlights" class="highlights-2"> 
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class ="row" id="boxes">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">  
                                <div class="highlight-box">
                                    <div class="h-icon">
                                        <span><i class="fas fa-hotel"></i></span>
                                    </div><!-- end h-icon -->
                                    
                                    <div class="h-text  cruise">
                                        <span class="numbers">2496</span>
                                        <p>Arriendos</p>
                                    </div><!-- end h-text -->                           
                                </div><!-- end highlight-box -->                       
                            </div><!-- end columns -->
                            
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">  
                                <div class="highlight-box">
                                    <div class="h-icon">
                                        <span><i class="fas fa-route"></i></span>
                                    </div><!-- end h-icon -->
                                    
                                    <div class="h-text cruise">
                                        <span class="numbers">1906</span>
                                        <p>Tours Guiados</p> 
                                    </div><!-- end h-text -->                           
                                </div><!-- end highlight-box -->                       
                            </div><!-- end columns -->
                            
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">  
                                <div class="highlight-box">
                                    <div class="h-icon">
                                        <span><i class="fas fa-smile-beam"></i></span>
                                    </div><!-- end h-icon -->
                                    
                                    <div class="h-text cruise">
                                        <span class="numbers">2033</span>
                                        <p>Recomendaciones</p>   
                                    </div><!-- end h-text -->                           
                                </div><!-- end highlight-box -->                       
                            </div><!-- end columns -->
                            
                        </div><!-- end boxes -->
                    </div><!-- end row -->
                </div><!-- end columns -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end highlights -->
 
 <app-footer></app-footer>