
        <!--===== FULL-PAGE-FORM ====-->
        <section>
            <div id="full-page-form">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            
                            <div class="full-page-title">
                                <h3 class="company-name"><span><i class="fa fa-building"></i>Turismo</span>Real</h3>
                                <p>Empresa conocida a nivel nacional con multiples departamentos a lo largo de todo Chile </p>
                            </div><!-- end full-page-title -->
                            
                            <div class="custom-form custom-form-fields" style="height: 520px;">
                                <h3>Registro de Usuario</h3>
                                <form [formGroup]="registroForm" (ngSubmit)="onSubmit()"> 
                                    
                                        <mat-form-field style ="display: inline" >
                                            <input matInput placeholder="Nombre" [formControl]="nombre"
                                                [errorStateMatcher]="matcher">
                                            <mat-error *ngIf="username.hasError('required')">
                                                El nombre es <strong>Requerido</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    
                                        <mat-form-field style ="display: inline">
                                            <input matInput placeholder="Nombre de Usuario" [formControl]="username"
                                                [errorStateMatcher]="matcher">
                                            <mat-error *ngIf="username.hasError('required')">
                                                El nombre de usuario es <strong>Requerido</strong>
                                            </mat-error>
                                        </mat-form-field>
                                    
                                        <mat-form-field style ="display: inline">
                                            <input matInput placeholder="Correo" [formControl]="correo"
                                                [errorStateMatcher]="matcher">
                                            <mat-error *ngIf="correo.hasError('required')">
                                                El correo es <strong>Requerido</strong>
                                            </mat-error>
                                        </mat-form-field>

                                        <mat-form-field style ="display: inline" >
                                            <input matInput placeholder="Contraseña" [formControl]="password"
                                              [type]="hide ? 'password' : 'text'">
                                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                                              [attr.aria-pressed]="hide" type="button">
                                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                            </button>
                                            <mat-hint>La contraseña no debe tener menos de 8 caracteres</mat-hint>
                                          </mat-form-field>
                                    
                                    <button class="btn btn-orange btn-block" [disabled]="!registroForm.valid"
                                    (click)="onSubmit()">Registrarse</button>
                                </form>
                                
                                <div class="other-links">
                                    <p class="link-line">¿Ya tienes una cuenta? <a [routerLink]="['/login']">Iniciar Sesión</a></p>
                                </div><!-- end other-links -->
                            </div><!-- end custom-form -->
                            
                            <p class="full-page-copyright">© 2019 TurismoReal. Todos los derechos reservados.</p>
                        </div><!-- end columns -->
                    </div><!-- end row -->
                </div><!-- end container -->
            </div><!-- end full-page-form -->
		</section>
