/* You can add global styles to this file, and also import other style files */
@import './assets/styles/home/style.css';
@import './assets/styles/home/responsive.css';
@import './assets/styles/home/orange.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
